* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    text-align: center;
}

.head {
    display: flex;
    justify-content: space-between;
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: transparent;

}

.head li {
    display: inline;
}

.Com-Name {
    color: rgb(11, 176, 226);
    position: relative;
    margin-left: 20px;
    margin-top: 0px;
    font-weight: bold;
    font-size: 50px;
    overflow: hidden;
}

.Com-Name::before {
    position: absolute;
    content: "";
    background-color: rgb(229, 251, 121);
    width: 0%;
    height: 100%;
    transition: 1s;
}

.Com-Name:hover::before {
    background-color: transparent;
    border-radius: 60%;
    width: 90%;
}

.Com-Name:hover {
    color: rgb(229, 251, 121);
}

.head a {
    color: rgb(11, 176, 226);
    position: relative;
    margin-left: 20px;
    text-decoration: none;
    font-size: x-large;
    font-weight: bold;
    overflow: hidden;
}

.head a::before {
    position: absolute;
    content: "";
    background-color: rgb(229, 251, 121);
    width: 0%;
    height: 100%;
    overflow: hidden;
    transition: 1s;

}

.head a:hover::before {
    background-color: transparent;
    border-radius: 60%;
    width: 90%;
    height: 100%;
    z-index: 1;

}

.head a:hover,
.head a.active {
    color: rgb(208, 245, 20);
}
body{
    background-image: url("../image/bg.jpg");
    background-position: center;
    background-size: cover;
    /* animation: animatebg 5s linear infinite; */
}
body,
input,
textarea {
    font-family: 'Poppins', sans-serif;
}

.container {
    position: relative;
    width: 100%;
    min-height: 100vh;
    padding: 2rem;
    /* background-color: #fafafa; */
    overflow: hidden;
}

.form {
    width: 100%;
    max-width: 820px;
    /* background-color: #fff; */
    background: transparent;
    border-radius: 10px;
    box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    overflow: hidden;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.contact-form {
    background-color: #1abc9c;
    /* background-color: #fff; */
    position: relative;

}
.circle {
    width: 100px;
    height: 100px;
    /* background: red; */
    position: absolute;
    border-radius: 50%;
    /* check below code */
    background: linear-gradient(135deg, transparent 20%, #149279);
}

/* check below selector */
.circle.one {
    height: 130px;
    width: 130px;
    top: 130px;
    right: -40px;
}

.circle.two {
    height: 80px;
    width: 80px;
    top: 10px;
    right: 30px;
}

.contact-form::before {
    content: "";
    position: absolute;
    width: 26px;
    height: 26px;
    background-color: #1abc9c;
    transform: rotate(45deg);
    top: 50px;
    left: -13px;
}

form {
    padding: 2.3rem 2.2rem;
    z-index: 10;
    overflow: hidden;
    position: relative;
}

.tittle {
    color: #fff;
    font-weight: 500;
    font-size: 1.5rem;
    line-height: 1;
    margin-bottom: 0.7rem;
}

.input-container {
    position: relative;
    margin: 1rem 0;
}

.input {
    width: 100%;
    outline: none;
    border: 2px solid #fafafa;
    background: none;
    padding: 0.6rem 1.2rem;
    color: #fff;
    font-weight: 500;
    font-size: 0.95rem;
    letter-spacing: 0.5px;
    border-radius: 25px;
    /* transition: 0.3s; */
}

textarea.input {
    padding: 0.8rem 1.2rem;
    min-height: 150px;
    border-radius: 22px;
    resize: none;
    overflow-y: auto;

}

.input-container label {
    position: absolute;
    top: 50%;
    left: 15px;
    transform: translateY(-50%);
    padding: 0 0.4rem;
    color: #fafafa;
    font-size: 0.9rem;
    font-weight: 400;
    pointer-events: none;
    z-index: 1000;
    /* transition: 0.3s; */
}

.input-container.textarea label {
    top: 1rem;
    transform: translateY(0);
}

.btn {
    padding: 0.6rem 1.3rem;
    background-color: #fff;
    border: 2px solid #fafafa;
    font-size: 0.95rem;
    color: #1abc9c;
    line-height: 1px;
    border-radius: 25px;
}

.btn:hover {
    background: transparent;
    color: #fff;
}

.input-container span {
    position: absolute;
    left: 25px;
    top: 0;
    padding: 0 0.4rem;
    transform: translateY(-50%);
    font-size: 0.8rem;
    pointer-events: none;
    z-index: 500;
    color: transparent;
}

.input-container span:before,
.input-container span:after {
    position: absolute;
    content: "";
    background-color: #1abc9c;
    width: 10%;
    opacity: 0;
    transition: .3s;
    height: 5px;
    top: 50%;
    transform: translateY(-50%);
}

.input-container span::before {
    left: 50%;
}

.input-container span::after {
    right: 50%;
}

.input-container.focus label {
    top: 0;
    transform: translateY(-50%);
    left: 25px;
    font-size: 0.8rem;
}

.input-container.focus span:before,
.input-container.focus span:after {
    opacity: 1;
    width: 50%;
}